<div class="clearfix" style="margin-bottom: 20px; margin-top: 30px; margin-left: 20px">
  <input type="text" name="track" [(ngModel)]="searchKeyword" placeholder="Search Image">
  <button [disabled]="!searchKeyword" type="button" (click)="search()">Search</button>
  <button style="text-align: right" type="button" (click)="keywordList()">Searched Keywords</button>
</div>
<table *ngIf="showtable" class="table table-hover table-striped">
  <thead>
  <th></th>
  </thead>
  <tbody>
  <tr *ngFor="let c of imageArray">
    <td *ngIf="database"> <img [src]="'/api/'+c" style="width: 100px"></td>
    <td *ngIf="!database"><img [src]="c.url" style="width: auto"></td>
  </tr>
  </tbody>
</table>
